@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700|Open+Sans:300,400,700|Oswald:300,400,700';

* {
	box-sizing: border-box;
}

button {
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
}

/*****************************/
          /*HEADER*/
/*****************************/

.header-white {
	display: flex;
	height: 72px;
	width: 100%;
	background-color: #fff;
	align-items: center;
	justify-content: space-between;
	padding: 0 40px;
	z-index: 2;
	position: fixed;
	top: 0;
}

.header-logo-container {
	height: 32px;
	min-width: 32px;
	width: auto;
	/*display: inline-block;*/
}

.header-white img {
	display: inline-block;
	height: 100%;
	width: auto;
}



.hamburger-container {
	/*display: inline-block;*/
	min-height: 24px;
	height: 24px;
	width: auto;
}






/*****************************/
          /*MASTHEAD*/
/*****************************/

.masthead {
	box-sizing: border-box;
	height: 475px;
	width: auto;
	background-image: url("masthead.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Oswald', sans;
}

.orange {
	color: #ff803a;
}

.green {
	color: #b0c532;
}

.masthead p, .masthead h2, .masthead button {
	color: #fff;
	line-height: 1;
	margin: 0;
}

.your-digital {
	font-size: 22px;
	padding-top: 110px;
}

.masthead h2 {
	margin: 0;
	font-weight: 300;
	font-size: 135px;
}

.bars-and-text {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
	width: 80%;
	height: 30px;

}

.bars-and-text p {
	flex-grow: 3;
	width: 40%;
	text-align: center;
	margin: 0;
	font-size: 19px;
	letter-spacing: .6px;
}

.white-bar {
	height: 8px;
	width: 3%;
	background-color: white;
	display: inline-block;
	flex-grow: 1;
}

.button-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	bottom: 20px;
	padding-top: 50px;
}

.learn-more-button {
	color: white;
	text-decoration: none;
	background-color: #bdd436;
	border-radius: 25px;
	border: 13px solid #bdd436;
	font-family: 'Open Sans', sans;
	letter-spacing: 1px;
	font-size: 15px;
	font-weight: 700;
	width: 146%;
}


/*****************************/
          /*CONTENT*/
/*****************************/


.content-wrapper {
	font-family: 'Open Sans', sans;
	color: #6a787c;
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
	margin-bottom: 0px;
	padding: 0px 20px;
	text-align: center;
	text-orientation: 
}


@media ( max-width: 480px ) {

}

@media ( min-width: 769px ) {

	.your-digital {
		padding-right: 472px;
	}

}

@media ( min-width: 992px ) {

	.content-wrapper {
		padding: 0;
	}

}

